.App {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navButtonGroup {
    z-index: 10000;
    position: fixed;
    display: flex;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    border: none;
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    color: whitesmoke;
    margin: 0 5px;
    border: 2px solid transparent;
    &:hover {
        cursor: pointer;
    }
}

.buttonActive {
    border: none;
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: whitesmoke;
    margin: 0 5px;
    border: 2px solid whitesmoke;
}

@keyframes fallingObjAnimation {
    0% {
        transform: translateY(0) rotate(40deg);
    }
    25% {
        transform: translateY(25vh) rotate(-5deg);
    }
    50% {
        transform: translateY(50vh) rotate(95deg);
    }
    75% {
        transform: translateY(75vh) rotate(-5deg);
    }
    100% {
        transform: translateY(110vh) rotate(95deg);
    }
}
.fallingObj {
    position: absolute;
    animation-name: fallingObjAnimation;
    transform-origin: center -40px;
    transform: rotate(40deg);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -1000s;
    filter: blur(1px);
}
